<!doctype html>
<html lang="en">
  <head>
    <title>Vue.js Pet Depot</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <script src="https://unpkg.com/vue"></script>
  </head>

  <body>
    <div class="container">
        <div id = "app">
            <header>
                <button v-on:click='showCheckout' v-if='this.store.length >=1'>{{this.store.length}} 
                <span class="fa fa-cart-plus"> </span> Checkout </button><br><br>
            </header>
            <main>
                <div class="card-columns">
                <div v-if = 'showProduct'>
                    <div v-for="product in product">
                    <div class="card">
                        <div class="card-body">
                            <!-- <img class="card-img-top" v-bind:src="product.image" alt="Card image cap"> -->
                            <h5 class="card-title"> Topic: {{ product.Topic }}</h5>
                            <p class="card-text">Location: {{ product.Location }}</p>
                            <p class="card-text">Price: {{ product.Price }}</p>
                            <p class="card-text">Available: {{ product.Space }}</p>
                            <button v-on:click='addToCart(product)' v-if='canAddToCart(product)'> Add to Cart</button>
                            <button disabled = 'disabled' v-else> Add to Cart</button> 
                        </div>
                    </div>
                    <!-- <button v-on:click='getit'> {{ product.topic }} </button> -->
                </div>
                <!-- <div v-else>
                    <h2>Checkout</h2>
                    
                    <div v-for="(value, name) in productOrder">
                        Subject: {{ value }} <button v-on:click="deleteEvent(name)">Delete</button>
                    </div>
    
                        <br>
                            <form>
                                <p>
                                    <strong>First Name: </strong>
                                    /////This input field is bound to 'firstName' in the 'order' object
                                    <input type="text" v-model.trim="order.firstName" required/>
                                    <br>
                                    <p>
                                        <strong>Last Name: </strong>
                                        //////This input field is bound to 'lastName' in the 'order' object
                                        <input type="text" v-model.trim="order.lastName"/>
                                    </p>
                                    <br>
                                    <p>
                                        <strong>Phone Number: </strong> 
                                        <input type="number" v-model="order.phoneNumber"/>
                                    </p>
                                    <br>
                                </p>
                            </form>
    
                            <p>First Name: {{ order.firstName }}</p><br>
                            <p>Last Name: {{ order.lastName }}</p><br>
                            <p>Phone Number: {{ order.phoneNumber }}</p><br>
    
                            <button v-if="order.firstName && order.lastName && order.phoneNumber" v-on:click="submitForm()">Place Order</button>
                            <button disabled = 'disabled' v-else> Place Order</button>
                </div> -->
                </div>
            </main>
        </div>
        </div>
    
    </div>
  </body>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 
  <script>
        
    var webstore = new Vue({
    el: '#app',
    data: { 
        showProduct: true,
        sitename: 'The Shop',
        filterIsSelected: false,
        store: [], //Creation of an empty array called store
        filtered: {
            method: 'Unfiltered'
        },
        cending: {
            method: 'Asc'
        },
        order: {
                
        },
        productOrder: [],
        lessons: [],
        product: "",    
    },
    created: function() { 
        // this function will be run automatically
        // when creating the Vue instance
            
            //const newProduct = {title: 'new product', price: 49};
            // const newProduct = 
            // {
            //     "Topic": "Math", "Price": 20, 
            //     "Location": "Blackbird Down","Space": 5
            // }
            fetch('https://assignment2vue.herokuapp.com/collection/Lessons').then(function (response) {
            response.json().then(
                function (json) {
                    // note that we used 'store.product' instead of 'this.product'
                    
                    webstore.product = json;
                    
                    console.log(webstore.product);
                })
                
            })
        // // set the url to your server and route
        // fetch('https://assignment2vue.herokuapp.com/collection/Lessons', {
        //     method: 'POST', // set the HTTP method as 'POST'
        //     headers: {
        //     'Content-Type': 'application/json', // set the data type as JSON
        //     },
        //     body: JSON.stringify(newProduct), // need to stringify the JSON object
        // })
        //     .then(response => response.json())
        //     .then(responseJSON => {
        //     console.log('Success:', responseJSON);
        //     });
        },
        methods:{
            getit: function(){
                        
                console.log(webstore.product.topic);
                console.log(webstore.products.location);
                console.log(webstore.products.price);
            },
            addToCart(product){
                this.store.push(product.id);
                this.productOrder.push(product.SubjectTitle);
                product.showInventory -= 1;
            },
            showCheckout: function(){
                this.showProduct =this.showProduct ? false : true;
            },
            submitForm(){
                alert('order has been placed')
            },
            canAddToCart(product){
                return product.availableInventory > this.cartItemCount(product.id);
            },
            cartItemCount(id){
                let count = 0;
                for(let i = 0; i < this.store.length; i++) {
                    if (this.store[i] === id) {
                        count++;
                    }
                }
                return count;
            },
            deleteEvent: function(index) {
                this.productOrder.splice(index, 1);
            },
        }, 
        computed:{
           
        }  
    });
</script>
</html>